.1_2 { 
	overflow:hidden;
}.e1_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}.e9_24 { 
	width:1440px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/___.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e9_23 { 
	color:rgba(70.00000342726707, 70.00000342726707, 70.00000342726707, 1);
	width:634px;
	height:409px;
	position:absolute;
	left:403px;
	top:0px;
	font-family:Rounded Mplus 1c;
	text-align:center;
	font-size:53px;
	letter-spacing:22;
}.e11_9 { 
	box-shadow:0px 4px 12px rgba(0, 0, 0, 0.25);
	width:1381.4459228515625px;
	height:707px;
	position:absolute;
	left:29px;
	top:291px;
}.e11_5 { 
	background-color:rgba(171.06250405311584, 171.06250405311584, 171.06250405311584, 1);
	width:626.7572021484375px;
	height:340.2339782714844px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:28px;
	border-top-right-radius:28px;
	border-bottom-left-radius:28px;
	border-bottom-right-radius:28px;
}.e11_6 { 
	background-color:rgba(171.06250405311584, 171.06250405311584, 171.06250405311584, 1);
	width:626.7572021484375px;
	height:340.2339782714844px;
	position:absolute;
	left:754.688720703125px;
	top:366.76605224609375px;
	border-top-left-radius:28px;
	border-top-right-radius:28px;
	border-bottom-left-radius:28px;
	border-bottom-right-radius:28px;
}.e11_7 { 
	background-color:rgba(171.06250405311584, 171.06250405311584, 171.06250405311584, 1);
	width:626.7572021484375px;
	height:340.2339782714844px;
	position:absolute;
	left:2.2737367544323206e-13px;
	top:366.76605224609375px;
	border-top-left-radius:28px;
	border-top-right-radius:28px;
	border-bottom-left-radius:28px;
	border-bottom-right-radius:28px;
}.e11_8 { 
	background-color:rgba(171.06250405311584, 171.06250405311584, 171.06250405311584, 1);
	width:626.7572021484375px;
	height:340.2339782714844px;
	position:absolute;
	left:754.688720703125px;
	top:0px;
	border-top-left-radius:28px;
	border-top-right-radius:28px;
	border-bottom-left-radius:28px;
	border-bottom-right-radius:28px;
}.e13_10 { 
	width:614px;
	height:312px;
	position:absolute;
	left:796px;
	top:304px;
}.e13_8 { 
	box-shadow:0px 4px 25px rgba(0, 0, 0, 0.25);
	width:68px;
	height:68px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/iconka.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e13_15 { 
	box-shadow:0px 4px 26px rgba(0, 0, 0, 0.25);
	width:117px;
	height:224px;
	position:absolute;
	left:20px;
	top:88px;
	background-image:url(images/1_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e13_16 { 
	box-shadow:0px 4px 33px rgba(0, 0, 0, 0.25);
	width:117px;
	height:224px;
	position:absolute;
	left:159px;
	top:88px;
	background-image:url(images/2_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e13_17 { 
	box-shadow:0px 4px 25px rgba(0, 0, 0, 0.25);
	width:117px;
	height:224px;
	position:absolute;
	left:301px;
	top:88px;
	background-image:url(images/3_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e13_18 { 
	box-shadow:0px 4px 32px rgba(0, 0, 0, 0.25);
	width:117px;
	height:224px;
	position:absolute;
	left:443px;
	top:88px;
	background-image:url(images/4_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e13_19 { 
	color:rgba(70.00000342726707, 70.00000342726707, 70.00000342726707, 1);
	width:538px;
	height:33px;
	position:absolute;
	left:76px;
	top:7px;
	font-family:Rounded Mplus 1c;
	text-align:center;
	font-size:37px;
	letter-spacing:-1;
}.e13_9 { 
	width:936px;
	height:312px;
	position:absolute;
	left:-112px;
	top:304px;
}.e13_6 { 
	box-shadow:0px 4px 8px rgba(0, 0, 0, 0.25);
	width:117px;
	height:224px;
	position:absolute;
	left:182px;
	top:88px;
	background-image:url(images/______.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e13_2 { 
	box-shadow:0px 4px 23px rgba(0, 0, 0, 0.25);
	width:68px;
	height:68px;
	position:absolute;
	left:158px;
	top:0px;
	background-image:url(images/ico.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e13_5 { 
	box-shadow:0px 4px 8px rgba(0, 0, 0, 0.25);
	width:117px;
	height:225px;
	position:absolute;
	left:607px;
	top:87px;
	background-image:url(images/_____4.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e13_3 { 
	box-shadow:0px 4px 8px rgba(0, 0, 0, 0.25);
	width:117px;
	height:224px;
	position:absolute;
	left:323px;
	top:88px;
	background-image:url(images/_____2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e13_4 { 
	box-shadow:0px 4px 8px rgba(0, 0, 0, 0.25);
	width:117px;
	height:225px;
	position:absolute;
	left:465px;
	top:87px;
	background-image:url(images/_____3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e13_7 { 
	color:rgba(70.00000342726707, 70.00000342726707, 70.00000342726707, 1);
	width:936px;
	height:33px;
	position:absolute;
	left:0px;
	top:4px;
	font-family:Rounded Mplus 1c;
	text-align:center;
	font-size:37px;
	letter-spacing:0.5;
}.e13_21 { 
	box-shadow:0px 4px 30px rgba(0, 0, 0, 0.25);
	width:596px;
	height:312px;
	position:absolute;
	left:46px;
	top:670px;
}.e13_20 { 
	width:68px;
	height:68px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/ico_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e13_22 { 
	box-shadow:0px 4px 30px rgba(0, 0, 0, 0.25);
	width:117px;
	height:224px;
	position:absolute;
	left:24px;
	top:88px;
	background-image:url(images/1_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e13_23 { 
	box-shadow:0px 4px 30px rgba(0, 0, 0, 0.25);
	width:117px;
	height:224px;
	position:absolute;
	left:165px;
	top:88px;
	background-image:url(images/2_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e13_24 { 
	box-shadow:0px 4px 30px rgba(0, 0, 0, 0.25);
	width:117px;
	height:224px;
	position:absolute;
	left:307px;
	top:88px;
	background-image:url(images/3_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e13_25 { 
	box-shadow:0px 4px 30px rgba(0, 0, 0, 0.25);
	width:117px;
	height:224px;
	position:absolute;
	left:449px;
	top:88px;
	background-image:url(images/4_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e13_26 { 
	color:rgba(70.00000342726707, 70.00000342726707, 70.00000342726707, 1);
	width:514px;
	height:33px;
	position:absolute;
	left:82px;
	top:4px;
	font-family:Rounded Mplus 1c;
	text-align:center;
	font-size:37px;
	letter-spacing:0.5;
}.e13_29 { 
	width:596px;
	height:312px;
	position:absolute;
	left:796px;
	top:670px;
}.e13_27 { 
	box-shadow:0px 4px 25px rgba(0, 0, 0, 0.25);
	width:68px;
	height:68px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/ico_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e13_30 { 
	box-shadow:0px 4px 25px rgba(0, 0, 0, 0.25);
	width:117px;
	height:224px;
	position:absolute;
	left:20px;
	top:88px;
	background-image:url(images/1_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e13_31 { 
	box-shadow:0px 4px 25px rgba(0, 0, 0, 0.25);
	width:117px;
	height:224px;
	position:absolute;
	left:159px;
	top:88px;
	background-image:url(images/2_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e13_32 { 
	box-shadow:0px 4px 25px rgba(0, 0, 0, 0.25);
	width:117px;
	height:224px;
	position:absolute;
	left:301px;
	top:88px;
	background-image:url(images/3_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e13_33 { 
	box-shadow:0px 4px 25px rgba(0, 0, 0, 0.25);
	width:117px;
	height:224px;
	position:absolute;
	left:443px;
	top:88px;
	background-image:url(images/4_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e13_35 { 
	color:rgba(70.00000342726707, 70.00000342726707, 70.00000342726707, 1);
	width:514px;
	height:33px;
	position:absolute;
	left:82px;
	top:4px;
	font-family:Rounded Mplus 1c;
	text-align:center;
	font-size:37px;
	letter-spacing:0.5;
}